<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:hive="http://typo3.org/ns/HIVE/HiveCptCntImg/ViewHelpers">

    <div class="col-md-6 history--image">
        <hive:cptCntImg uid="{history.image.uid}"></hive:cptCntImg>
    </div>
    <div class="col-md-6 history--content">
        <h3><f:format.html>{history.title}</f:format.html></h3>
        <h4><f:format.html>{history.subtitle}</f:format.html></h4>
        <p><f:format.html>{history.text}</f:format.html></p>

        <f:if condition="{history.detailtext}">
            <f:link.action action="show" pluginName="hivehistoryshowhistory" controller="History"
                           pageUid="{showPid}"
                           arguments="{history : history}"
                           class="btn {additionalBtnClasses} history--btn">
                <f:translate key="LLL:EXT:hive_ext_history/Resources/Private/Language/translation.xlf:tx_hiveexthistory_domain_model_history.label.readmore" />
            </f:link.action>
        </f:if>
    </div>
</html>